[flake8]
# W291 - we dont care about trailing whitespace
# E302 - one line between functions is fine
# W503 line break before binary operator
max-line-length=127
max-complexity = 10
ignore = W291,E302, E203 ,W503
